
body{
    background-color: rgb(245, 208, 60);
    width: 100%;
}

.classCointainerPrincipal{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.classPreguntas{
    width: 40%;
}

.classInputs{
    width: 60%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.classForm{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

.classText{
    width: 15px;
    text-align: center;
    height: 15px;
}

.columnBajar{
    margin-top: 63px; /*Se debe bajar de 21, para que quede debajo de un cuadro*/
}

.classText:focus{
    background-color: aquamarine;
}
